[Unit]
Description = Eastate Bot
After = network.target

[Service]
Type = simple
WorkingDirectory = /var/www/Eastate_bot/
ExecStart = /usr/bin/python main.py
User = root
Restart = on-failure
SyslogIdentifier = /var/log/Eastate_bot.log
RestartSec = 5
TimeoutStartSec = infinity
MemoryMax=200M

[Install]
WantedBy = multi-user.target
